<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__logo">
        <a href="/">
          <img src="/assets/images/logo.png" alt="">
        </a>
      </div>
      <div class="header__btn">
        <div class="header__social">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="header__hamb">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
</header>
<div class="slider">
  <div class="container">
    <div class="slider__scroll-wrap">
      <div class="slider__scroll-down">
        <span>SCROLL DOWN</span>
        <div class="slider__scroll--dots"></div>
      </div>
    </div>
    <div class="slider__img-wrap">
      <img src="/assets/directions/library.png" alt="img">
    </div>
    <div class="inner-container">
      <h2 class="slider__title">EVELEX GROUP</h2>
      <p class="slider__text">Lorem ipsum dolor
        sit amet, consectetur
        adipiscing elit</p>
      <a href="#" class="slider__text-link">learn more</a>
    </div>
  </div>
</div>
<section class="abilities">
  <div class="container">
    <h2 class="abilities__title">Что мы <br><strong>можем</strong></h2>
    <div class="abilities__wrap">
      <div class="abilities__unit">
        <h2 class="abilities__number">01</h2>
        <p class="abilities__text">
          Lorem ipsum dolor
          sit amet, consectetur
          adipiscing elit
        </p>
      </div>
      <div class="abilities__unit">
        <h2 class="abilities__number">02</h2>
        <p class="abilities__text">
          Lorem ipsum dolor
          sit amet, consectetur
          adipiscing elit
        </p>
      </div>
      <div class="abilities__unit">
        <h2 class="abilities__number">03</h2>
        <p class="abilities__text">
          Lorem ipsum dolor
          sit amet, consectetur
          adipiscing elit
        </p>
      </div>
      <div class="abilities__unit">
        <h2 class="abilities__number">04</h2>
        <p class="abilities__text">
          Lorem ipsum dolor
          sit amet, consectetur
          adipiscing elit
        </p>
      </div>
      <div class="abilities__unit">
        <h2 class="abilities__number">05</h2>
        <p class="abilities__text">
          Lorem ipsum dolor
          sit amet, consectetur
          adipiscing elit
        </p>
      </div>
      <div class="abilities__unit">
        <h2 class="abilities__number">06</h2>
        <p class="abilities__text">
          Lorem ipsum dolor
          sit amet, consectetur
          adipiscing elit
        </p>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <div class="container">
    <div class="info__unit">
      <div class="info__img-wrap">
        <img src="/assets/directions/libra.png" alt="">
      </div>
      <p class="info__text">
      <span>
        Lorem ipsum dolor
      sit amet, consectetur
      adipiscing elit
      </span>
      </p>
    </div>
    <div class="info__unit">
      <div class="info__img-wrap">
        <img src="/assets/directions/magnifier.png" alt="">
      </div>
      <p class="info__text">
        Lorem ipsum dolor
        sit amet, consectetur
        adipiscing elit
      </p>
    </div>
    <div class="info__unit">
      <div class="info__img-wrap">
        <img src="/assets/directions/hummer.png" alt="">
      </div>
      <p class="info__text">
        Lorem ipsum dolor
        sit amet, consectetur
        adipiscing elit
      </p>
    </div>
    <div class="info__unit">
      <div class="info__img-wrap">
        <img src="/assets/directions/books.png" alt="">
      </div>
      <p class="info__text">
        Lorem ipsum dolor
        sit amet, consectetur
        adipiscing elit
      </p>
    </div>
    <div class="info__unit">
      <div class="info__img-wrap">
        <img src="/assets/directions/man.png" alt="">
      </div>
      <p class="info__text">
        Lorem ipsum dolor
        sit amet, consectetur
        adipiscing elit
      </p>
    </div>
  </div>
</section>
<section class="services">
  <div class="inner-container">
    <div class="services__row">
      <h2 class="">who are we</h2>
      <p> Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </div>
    <div class="services__row">
      <div class="services__unit">
        <img src="/assets/directions/lounge-chaise-black.png" alt="img">
        <h2>Lorem ipsum</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
      <div class="services__unit">
        <img src="/assets/directions/lounge-chaise-black.png" alt="img">
        <h2>Lorem ipsum</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
      <div class="services__unit">
        <img src="/assets/directions/lounge-chaise-black.png" alt="img">
        <h2>Lorem ipsum</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="inner-container">
    <div class="footer__row">
      <p class="footer__text">Istanbul Our Head Office</p>
      <p class="footer__text">Istanbul / Turkey</p>
      <p class="footer__text">T: +90 (212) 400 00 00 (Pbx)</p>
      <p class="footer__text">F: +90 (216) 400 00 01</p>
      <div class="footer__social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="footer__row">
      <h2 >Company</h2>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
    </div>
    <div class="footer__row">
      <h2 >Company</h2>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
    </div>
    <div class="footer__row">
      <h2 >Company</h2>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
    </div>
  </div>
  <div class="footer__social-mobile">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  </div>
</footer>

