<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__logo">
        <a href="/">
          <img src="/assets/images/logo.png" alt="">
        </a>
      </div>
      <div class="header__btn">
        <div class="header__social">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="header__hamb">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
</header>
<section class="slider">
  <div class="container">
    <img class="slider__img-big" src="assets/images/Слой6.png" alt="">
    <img src="assets/images/Слой5.png" class="slider__img-small" alt="">
    <div class="inner-container">
      <h2 class="slider__title">EVELEX GROUP</h2>
      <p class="slider__text">Lorem ipsum dolor
        sit amet, consectetur
        adipiscing elit</p>
      <a href="#" class="slider__text-link">learn more</a>
    </div>
    <div class="slider__row">
      <div class="slider__left-square"><span>01</span>
        <div class="slider__left-right-arrow">
          <img src="assets/images/long-arrow-left.png" alt="arrow-left">
          <img src="assets/images/long-arrow-right.png" alt="arrow-right">
        </div>
      </div>
      <div class="slider__numbs">
        02<span><i>/</i>06</span>
      </div>
      <div class="slider__slider">01 <span></span>06</div>
      <div class="slider__scroll-wrap">
        <div class="slider__scroll-down">
          <span>SCROLL DOWN</span>
          <div class="slider__scroll--dots"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="directions">
  <div class="container">
    <h2 class="directions__title">Choose one to go:</h2>
    <div class="directions__wrap">
      <div class="directions__unit">
        <img src="assets/images/directions-img1.png" alt="img">
        <h2 class="directions__unit-title">Сonsectetur adipiscing
          elit</h2>
        <a class="directions__unit-link" href="">read more</a>
      </div>
      <div class="directions__unit">
        <img src="assets/images/directions-img4.png" alt="img">
        <h2 class="directions__unit-title">Сonsectetur adipiscing
          elit</h2>
        <a class="directions__unit-link" href="">read more</a>
      </div>
      <div class="directions__unit">
        <img src="assets/images/directions-img3.png" alt="img">
        <h2 class="directions__unit-title">Сonsectetur adipiscing
          elit</h2>
        <a class="directions__unit-link" href="">read more</a>
      </div>
      <div class="directions__unit">
        <img src="assets/images/directions-img4.png" alt="img">
        <h2 class="directions__unit-title">Сonsectetur adipiscing
          elit</h2>
        <a class="directions__unit-link" href="">read more</a>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="inner-container">
    <div class="services__row">
      <h2 class="">who are we</h2>
      <p> Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </div>
    <div class="services__row">
      <div class="services__unit">
        <img src="assets/images/chaise-lounge.png" alt="img">
        <h2>Lorem ipsum</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
      <div class="services__unit">
        <img src="assets/images/chaise-lounge.png" alt="img">
        <h2>Lorem ipsum</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
      <div class="services__unit">
        <img src="assets/images/chaise-lounge.png" alt="img">
        <h2>Lorem ipsum</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
    </div>
  </div>
</section>
<section class="welcome">
  <div class="inner-container">
    <div class="welcome__col">
      <img src="assets/images/tie.png" alt="">
    </div>
    <div class="welcome__col">
      <div class="welcome__wrap">
        <h2 class="">who are we</h2>
        <p>Главное сообщение от
          руководителя</p>
      </div>
      <div class="welcome__wrap">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="inner-container">
    <div class="footer__row">
      <p class="footer__text">Istanbul Our Head Office</p>
      <p class="footer__text">Istanbul / Turkey</p>
      <p class="footer__text">T: +90 (212) 400 00 00 (Pbx)</p>
      <p class="footer__text">F: +90 (216) 400 00 01</p>
      <div class="footer__social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="footer__row">
      <h2 >Company</h2>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
    </div>
    <div class="footer__row">
      <h2 >Company</h2>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
    </div>
    <div class="footer__row">
      <h2 >Company</h2>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
      <a >link</a>
    </div>
  </div>
  <div class="footer__social-mobile">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  </div>
</footer>